<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morgan.example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to controller hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
